* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px !important;
}
body {
  background-color: #f3f7fb;
  font-family: "Ubuntu", sans-serif;
  background-color: #f3f3f3;
}

/* login */
.login {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  width: 64%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 3px 3px 6px 3px #e0e0e0;
}

.login_img > img {
  width: 100%;
}

.content {
  background-color: white;
  padding: 40px;
  cursor: auto;
  display: flex;
  flex-direction: column;
  width: 350px;
}
.content h2 {
  margin: 10px 0px;
}
.content label {
  color: #1cadaf;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 14px;
}
.content input {
  font-size: 16px;
  padding: 2px 4px;
}
.content button {
  background-color: #1cadaf;
  color: white;
  padding: 10px;
  font-weight: bold;
  margin: 20px 0;
  border: none;
}
.copy_right {
  text-align: center;
  margin: 30px;
  color: #1cadaf;
  font-size: 14px;
  font-weight: bold;
}
